app = "sistema-orçamento-vl"  # ← quando você rodar "fly launch", ele troca automaticamente

kill_signal = "SIGINT"
kill_timeout = 5

[build]
dockerfile = "Dockerfile"

[env]
PORT = "8080"

[[services]]
internal_port = 8080
protocol = "tcp"

[services.concurrency]
hard_limit = 50
soft_limit = 25

[[services.ports]]
port = 80
[[services.ports]]
port = 443

[[services.tcp_checks]]
interval = "10s"
timeout = "2s"
restart_limit = 5
